*{
	margin: 0;
	padding: 0; 
}

ul{
	list-style: none;
}

a{
		text-decoration: none;
	}

body{

	background: url(img/bgbody.png) no-repeat 50% 0 #0e0e0e;
	font:12px/1.67 Arial, Helvetica, sans-serif;
	padding: 40px 0;
}
