*{
	margin: 0;
	padding: 0; 
}

ul{
	list-style: none;
}

a{
		text-decoration: none;
	}

body{

	background: url(img/bgbody.png) no-repeat 50% 0 #0e0e0e;
	font:12px/1.67 Arial, Helvetica, sans-serif;
	padding: 40px 0;
}
.wrapper{
	width: 960px;
	margin: 0 auto;

}

/*header begin*/
header{
	background: #fff;
	height: 97px;
	-o-border-radius: 5px 7px 0 0;
	-moz-border-radius: 5px 7px 0 0;
	-webkid-border-radius: 5px 7px 0 0;
	border-radius: 5px 7px 0 0;
}

header h1{
	float: left;
	margin: 30px 0 0 40px
}
.tel{
	background: url(img/bgtel.png) repeat-x 0 0;
	padding: 3px 27px 3px 90px;
	font-size:  18px;
	font-weight: bold;
	color: #c0c0c0;
	float: right;
}
nav{
	float: right;
	clear: right;
}
nav li{
	float: right;
	margin: 20px 30px 0 5px;

}
nav li a{
	color: #808080;
	text-transform: uppercase;
	font-weight: bold;
	padding: 3px 15px;
}

nav li a:hover{
background: url(img/bg-li-current.gif) repeat-x 0 0;
	color: #fff;
	border-radius: 4px;
}


nav li.current a{
	background: url(img/bg-li-current.gif) repeat-x 0 0;
	
	color: #fff;
	border: 1px solid #00224b;
	border-radius: 4px;
}
/*header end*/


/*ставим шрифты*/



@font-face{
	font-family: Treb;
	src:url(fonts/Treb.ttf);
}


/*блок слайдера*/


.slider-block{
	background: url(img/bg-slider-block.png) no-repeat 0 0;
	height: 336px;
	padding: 85px 50px 0; 
	color: #fff;
	font-size: 29px;
	font-family: Treb;

}
/*блок слайдера*/
.flexslider {
  
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  float: right;
  width: 396px;
  height: 268px;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {                        /*делаем стрелки*/
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
 
}
.flex-direction-nav .flex-prev {
  left: -50px;
  text-indent: -9999px;
  background: url(img/arrow180.gif) no-repeat 0 0; 
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-indent: -9999px;
  background: url(img/arrow.gif) no-repeat 0 0;
  
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  
}
.flex-control-nav {                                  /*код для слайдера точки*/
  
  position: absolute;                               /*код для слайдера точки*/
  top: -25px;                                        /*код для слайдера точки*/
  right: 10px;                                       /*код для слайдера точки*/
  
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/*конец слайдера*/